@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-poppins);
}
body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: #9ca3af;
}
label,
span,
textarea,
input,
h3 {
  color: #171717;
}
label,
span,
textarea,
input,
li,
p,
h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: var(--font-poppins);
}

[data-reveal] {
  opacity: 0;
  transition: opacity 360ms ease-out, transform 360ms ease-out;
}

/* Знизу вгору */
[data-reveal].from-up {
  transform: translateY(18px);
}
[data-reveal].revealed.from-up {
  opacity: 1;
  transform: translateY(0);
}

/* Зверху вниз */
[data-reveal].from-down {
  transform: translateY(-18px);
}
[data-reveal].revealed.from-down {
  opacity: 1;
  transform: translateY(0);
}

/* Зліва направо */
[data-reveal].from-left {
  transform: translateX(-18px);
}
[data-reveal].revealed.from-left {
  opacity: 1;
  transform: translateX(0);
}

/* Справа наліво */
[data-reveal].from-right {
  transform: translateX(18px);
}
[data-reveal].revealed.from-right {
  opacity: 1;
  transform: translateX(0);
}
